In [1]:
#W tym temacie dowiemy się jak poruszać się po tablicy i wyciągać z niej dane.

In [2]:
import numpy as np

In [3]:
#Stwórzmy tablicę.
array = np.arange(0,5)
array

array([0, 1, 2, 3, 4])

In [14]:
array[3]

3

In [15]:
array[1:4]

array([1, 2, 3])

In [16]:
array

array([0, 1, 2, 3, 4])

In [4]:
#Jeżeli chcemy skopiować jakąś część tablicy do zmiennej, używamy funkcji copy().
part_of_array = array[1:4].copy()
part_of_array

array([1, 2, 3])

In [5]:
#Jeżeli przypiszesz do zmiennej jakąś część tablicy, bez używania funkcji copy(),
#tworzysz tylko odwołanie. W przypadku zmiany tej zmiennej, zmienia się także tablica.
part_of_array = array[1:4]
part_of_array

array([1, 2, 3])

In [6]:
#Zmieńmy wartości w zmiennej na 7.
part_of_array[:] = 7
part_of_array

array([7, 7, 7])

In [7]:
#Jak widzimy zmieniła się także tablica.
array

array([0, 7, 7, 7, 4])

In [8]:
#Stwórzmy tablicę 5 x 5.
#Jak widzimy, jest ona 2 wymiarowa.
array = np.arange(0,25,1).reshape(5,5)
array

array([[ 0,  1,  2,  3,  4],
       [ 5,  6,  7,  8,  9],
       [10, 11, 12, 13, 14],
       [15, 16, 17, 18, 19],
       [20, 21, 22, 23, 24]])

In [22]:
#Odwołujemy się do konkretnej wartości poprzez:
#array[ numer_wiersza , numer_kolumny]
array[3,4]

19

In [23]:
#Możemy także wyświetlić przedział. W tym przypadku są to wartości w kolumnie trzeciej,
#od wiersza 0 do wiersza 4.
array[ 0:4 , 3]

array([ 3,  8, 13, 18])

In [24]:
#W tym przypadku wyświetlamy wartości w kolumnie numer 2
#od wiersza 1 do wiersza 3.
array[ 2 ,1:3]

array([11, 12])

In [34]:
#W tym przypadku z kolumny o numerze 3, wyciągamy wartości z 2 i 3 wiersza.
array[ (2,3) , 3]

array([13, 18])

In [9]:
#Z wiersza 1 wyciągamy 2, 3, 4 kolumnę.
array[ 1 , (2,3,4)]

array([7, 8, 9])

In [25]:
#Jeżeli chcemy wyciągnąć z tablicy tylko liczby mniejsze od 16,
#w nawiasy kwadratowe wpisujemy warunek.
array[array < 16]

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15])

In [29]:
#Jak widzimy, miejsca w których liczby są mniejsze od 16 są True.
array < 16

array([[ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True,  True,  True,  True,  True],
       [ True, False, False, False, False],
       [False, False, False, False, False]])

In [5]:
#Tablica do zadań.
array = np.random.randint(0,20, (5,6) )
array

array([[13,  8, 17,  2, 10,  2],
       [ 5,  5,  7, 15,  2,  4],
       [18,  5, 11, 19,  4, 16],
       [16, 18, 14, 11,  5,  2],
       [18,  8,  8,  2,  1, 18]])

In [6]:
#Zad 1 
#Wyświetl kolumny od 1 do 3 wiersza 2.

In [7]:
#Zad 2 
#Wyświetl wiersze od 2 do 4 kolumny nr 5.

In [8]:
#Zad 3 
#Wytnij z tablicy kwadrat 3 x 4.

In [ ]:
#Zad 4
#Wyświetl wartości z zadania 3 większe od 10.